<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantai Nanggelan</title>
    <link rel="stylesheet" href="../style/style.css">
    <link href='http://wallpaperback.blogspot.com/favicon.ico' rel='shortcut icon'>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="dummy-navbar">
                <ul>
                    <li><img src="../../images/jember.png" style="width: 20px; height: 20px;"></li>
                    <li>Destinasi Wisata Kota Jember</li>
                </ul>
            </div>
            <div class="dummy-navbar">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="top-navbar">
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="papuma.html">Content</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
        <div class="midlaner">
            <div class="side-nav">
                <ul>
                    <li><a href="papuma.html">Papuma</a></li>
                    <li><a href="watu.html">Watu Ulo</a></li>
                    <li><a href="nanggelan.html">Nanggelan</a></li>
                    <li><a href="rembangan.html">Rembangan</a></li>
                </ul>
            </div>
            <div class="content-margin">
                <div class="content">
                    <p>
                        <center style="font-size: 30px;"><b>Pantai Nanggelan</b></center>
                    </p>
                    <br>
                    <center><img src="../../images/nanggelan.jpg" alt="" style="width: 50%; height: 50%;"></center>
                    <br>
                    <p>Pantai Nanggelan adalah salah satu pantai yang masih sekeluarga sama pantai watu ulo dan pantai
                        Papuma Jember. Disebut sekeluarga karena pantai ini masih segaris dan sedaratan dengan kedua
                        pantai itu. Pantai ini masuk kawasan Taman Nasional Meru Betiri. Taman nasional ini mencakup dua
                        Kabupaten sekaligus untuk wilayah selatan Jawa Timur, yakni Kabupaten Jember dan Kabupaten
                        Banyuwangi. Kabar baiknya, Lokasi Pantai Nanggelan masih masuk wilayah Kabupaten Jember.

                        Berbeda dengan sejarah pantai-pantai lainnya yang notabene masyarakat sekitar berprofesi sebagai
                        nelayan, di lokasi sekitar pantai Nanggelan hampir tidak ada pemukiman manusia. Murni hutan
                        natural dan perkebunan pohon jati. Jadi wajar aja kalo jarang manusia yang nampak disini,
                        kecuali bapak-bapak penebang pohon jati atau masyarakat sekitar yang mencari kayu di hutan.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <p>Info Lebih lanjut hubungi</p>
                <p>Telp: 08887127577</p>
            </div>
        </div>
    </div>

</body>

</html>