<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantai Papuma</title>
    <link rel="stylesheet" href="../style/style.css">
    <link href='http://wallpaperback.blogspot.com/favicon.ico' rel='shortcut icon'>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="dummy-navbar">
                <ul>
                    <li><img src="../../images/jember.png" style="width: 20px; height: 20px;"></li>
                    <li>Destinasi Wisata Kota Jember</li>
                </ul>
            </div>
            <div class="dummy-navbar">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="top-navbar">
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="papuma.html">Content</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
        <div class="midlaner">
            <div class="side-nav">
                <ul>
                    <li><a href="papuma.html">Papuma</a></li>
                    <li><a href="watu.html">Watu Ulo</a></li>
                    <li><a href="nanggelan.html">Nanggelan</a></li>
                    <li><a href="rembangan.html">Rembangan</a></li>
                </ul>
            </div>
            <div class="content-margin">
                <div class="content">
                    <p>
                        <center style="font-size: 30px;"><b>Pantai Papuma</b></center>
                    </p>
                    <br>
                    <center><img src="../../images/papuma.jpg" alt="" style="width: 50%; height: 50%;"></center>
                    <br>
                    <p>Pantai Papuma adalah sebuah pantai yang menjadi tempat wisata di Kabupaten Jember, Provinsi Jawa
                        Timur, Indonesia. Nama Papuma sendiri sebenarnya adalah sebuah singkatan dari “Pasir Putih
                        Malikan. Pantai papuma berada di Desa Lojejer, Kecamatan Wuluhan, Kabupaten Jember. Pantai
                        papuma berada di Desa Lojejer, Kecamatan Wuluhan, Kabupaten Jember. Pantai papuma adalah salah
                        satu pantai yang cukup populer dan terkenal di Jember. Walaupun jarak sekitar 40 kilometer cukup
                        jauh dari pusat kota Jember. Namun, keindahan pasir putih Malikan ini cukup eksotis dan mampu
                        menarik perhatian wisatawan lokal hingga mancanegara untuk datang kesana.</p>
                    <br>
                    <p>Pantai Papuma mulai dibuka secara resmi sejak tahun 1994, namun pada tahun 1998 wisata pantai di
                        Jember yang ini baru mulai ramai dikunjungi oleh wisatawan.

                        Menurut sejarah, dulu pada zaman penjajahan Jepang hutan yang ada di sekitar pantai Papuma ini
                        dijadikan sebagai markas dan benteng Jepang ketika perang.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <p>Info Lebih lanjut hubungi</p>
                <p>Telp: 08887127577</p>
            </div>
        </div>
    </div>

</body>

</html>