<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rembangan</title>
    <link rel="stylesheet" href="../style/style.css">
    <link href='http://wallpaperback.blogspot.com/favicon.ico' rel='shortcut icon'>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="dummy-navbar">
                <ul>
                    <li><img src="../../images/jember.png" style="width: 20px; height: 20px;"></li>
                    <li>Destinasi Wisata Kota Jember</li>
                </ul>
            </div>
            <div class="dummy-navbar">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="top-navbar">
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="papuma.html">Content</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
        <div class="midlaner">
            <div class="side-nav">
                <ul>
                    <li><a href="papuma.html">Papuma</a></li>
                    <li><a href="watu.html">Watu Ulo</a></li>
                    <li><a href="nanggelan.html">Nanggelan</a></li>
                    <li><a href="rembangan.html">Rembangan</a></li>
                </ul>
            </div>
            <div class="content-margin">
                <div class="content">
                    <p>
                        <center style="font-size: 30px;"><b>Rembangan</b></center>
                    </p>
                    <br>
                    <center><img src="../../images/rembangan.jpg" alt="" style="width: 50%; height: 50%;"></center>
                    <br>
                    <p>Rembangan terletak kurang lebih 12 kilometer (7,5 mi) di sebelah utara kota Jember, tepatnya di
                        kaki Gunung Argopuro. Tempat ini berdiri di lahan seluas 13,45 hektare (33,2 ekar) di ketinggian
                        650 meter (2130 ft) di atas permukaan laut. Suhu rata-ratanya berkisar antara 18 °C (64 °F) dan
                        25 °C (77 °F). Secara administratif, Rembangan adalah bagian dari Desa Kemuning Lor, Kecamatan
                        Arjasa, Jember, Jawa Timur. Tempat ini dikelola oleh pemerintah daerah Jember.

                        Jalan menuju Rembangan dijajari banyak kebun buah naga. Ada pula beberapa perkebunan kopi di
                        daerah ini yang dibuka untuk umum pada hari kerja. Per 2011, tidak ada transportasi umum
                        menuju puncak, tetapi pengunjung bisa menyewa sepeda motor atau mobil. Jalan yang terdiri
                        dari belokan dan tanjakan ini dianggap berbahaya bagi bus besar dan telah memakan banyak korban.
                        Sebuah kecelakaan tahun 2002 menewaskan 22 penumpang.</p>
                    <br>
                    <p>Di Rembangan terdapat hotel yang dibangun pada masa kolonial Belanda. Hotel berkamar 41 ini
                        memiliki kolam renang dan kebun yang dipakai untuk beristirahat dan rekreasi. Di halaman hotel
                        terdapat kebun buah naga yang terdiri dari 600 tumbuhan. Buah-buahannya boleh dipetik dan
                        dipungut biaya. Buah naga di daerah ini merupakan oleh-oleh yang paling sering dibawa pulang
                        pengunjung. Hotel ini menyediakan akomodasi bagi wisatawan dan ruang konferensi, seminar, dan
                        lokakarya. Fasilitas lainnya meliputi kolam pemandian dari sumber air pegunungan.

                        Pemandangan dari puncak dianggap sebagai tempat wisata terbaik di Rembangan. Laili Damayanti
                        dari Tabloid Nova menulis bahwa pemandangan malam hari lebih populer di kalangan wisatawan,
                        dan Icha Rahmanti dari The Jakarta Post menyebut pemandangannya "luar biasa".</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <p>Info Lebih lanjut hubungi</p>
                <p>Telp: 08887127577</p>
            </div>
        </div>
    </div>

</body>

</html>