<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantai Watu Ulo</title>
    <link rel="stylesheet" href="../style/style.css">
    <link href='http://wallpaperback.blogspot.com/favicon.ico' rel='shortcut icon'>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="dummy-navbar">
                <ul>
                    <li><img src="../../images/jember.png" style="width: 20px; height: 20px;"></li>
                    <li>Destinasi Wisata Kota Jember</li>
                </ul>
            </div>
            <div class="dummy-navbar">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="top-navbar">
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="papuma.html">Content</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
        <div class="midlaner">
            <div class="side-nav">
                <ul>
                    <li><a href="papuma.html">Papuma</a></li>
                    <li><a href="watu.html">Watu Ulo</a></li>
                    <li><a href="rembangan.html">Nanggelan</a></li>
                    <li><a href="rembangan.html">Rembangan</a></li>
                </ul>
            </div>
            <div class="content-margin">
                <div class="content">
                    <p>
                        <center style="font-size: 30px;"><b>Pantai Watu Ulo</b></center>
                    </p>
                    <br>
                    <center><img src="../../images/watu_ulo.jpg" alt="" style="width: 50%; height: 50%;"></center>
                    <br>
                    <p>Nama Pantai Watu Ulo berasal dari bahasa Jawa, yaitu “Watu” yang berarti Batu dan “Ulo” yang
                        berarti Ular. Jadi Pantai Watu Ulo dapat diartikan sebagai Pantai Batu Ular. Dan yang
                        melatarbelakangi penyebutan nama Watu Ulo sendiri tidak lain karena Batu panjang menyerupai
                        bentuk ular di sisi pantai yang menjorok ke laut.
                        Susunan batu di pantai ini yang berbentuk seperti luar
                        Ada yang mengatakan bahwa pantai ini dulunya dikuasai oleh Sesosok Ular raksasa yang bernama
                        Nogo Rojo. Nogo Rojo dalam bahasa Indonesia berarti “Raja Naga”. Dan Nogo Rojo tersebut
                        bertarung dengan penduduk setempat karena perebutan wilayah. Nogo rojo pun akhirnya berhasil
                        dikalahkan dan tubuhnya dibelah menjadi tiga. Batu bersisik yang menyerupai ular inilah yang
                        akhirnya dipercaya sebagai potongan dari tubuh Nogo Rojo Yang terbelah.</p>
                    <br>
                    <p>Di sisi lain ada yang mengkisahkan versi yang berbeda, di mana sosok Nogo Rojo adalah utusan
                        Ajisaka yang hingga saat ini masih ada di pantai tersebut untuk bertapa dengan tubuh yang sudah
                        tidak lengkap, di mana kepala dari Nogo Rojo berada di Banyuwangi sedangkan yang berada di
                        Pantai Watu Ulo adalah bagian badan dan ekornya.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <p>Info Lebih lanjut hubungi</p>
                <p>Telp: 08887127577</p>
            </div>
        </div>
    </div>

</body>

</html>